.form-wrap{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.New{
    display: flex;
    justify-content: center;
}